<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/header') %>
    <title>Document</title>
</head>
<body>
    <%- include('partial/spinner') %>
    <%- include('partial/navbar') %>
    <%- include('partial/blogheader') %>
    <%- include('partial/blogstart') %>
    <%- include('partial/footer') %>
    <%- include('partial/backtotop') %>
    <%- include('partial/scripts') %>
</body>
</html>


