<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/header') %>
    <title>Document</title>
</head>
<body>
    <%- include('partial/spinner') %>
    <%- include('partial/navbar') %>
    <%- include('partial/pageheader6') %>
    <%- include('partial/error404') %>
    <%- include('partial/footer') %>
    <%- include('partial/backtotop') %>
    <%- include('partial/scripts') %>
</body>
</html>


