<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/header') %>
    <title>Document</title>
</head>
<body>
    <%- include('partial/spinner') %>
    <%- include('partial/navbar') %>
    <%- include('partial/carousel') %>
    <%- include('partial/aboutme') %>
    <%- include('partial/feature') %>
    <%- include('partial/product') %>
    <%- include('partial/firmvisit') %>
    <%- include('partial/testimonial') %>
    <%- include('partial/blog') %>
    <%- include('partial/footer') %>
    <%- include('partial/backtotop') %>
    <%- include('partial/scripts') %>
</body>
</html>


